<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="robotiq_sim_gripper_ros2_control"
                 params="name prefix sim_ignition:=false use_fake_hardware:=true fake_sensor_commands:=false">

        <ros2_control name="${name}" type="system">
            <!-- Plugins -->
            <hardware>
                <xacro:if value="${sim_ignition}">
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </xacro:if>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="fake_sensor_commands">${fake_sensor_commands}</param>
                    <param name="state_following_offset">0.0</param>
                </xacro:if>
            </hardware>

            <!-- Joint interfaces -->
            <joint name="${prefix}finger_joint">
                <!-- With Ignition, we have mimic joints, so we only need this command interface activated -->
                <xacro:if value="${sim_ignition}">
                    <state_interface name="position">
                        <param name="initial_value">0.0</param>
                    </state_interface>
                    <!-- needed for gripper controller max effort -->
                    <state_interface name="effort" />
                    <param name="p_pos">20.0</param>
                    <param name="i_pos">0.0</param>
                    <param name="d_pos">0.01</param>
                    <param name="iMax_pos">0.0</param>
                    <param name="iMin_pos">0.0</param>
                    <param name="cmdMax_pos">2.0</param>
                    <param name="cmdMin_pos">-2.0</param>
                    <param name="cmdOffset_pos">0.0</param>
                    <param name="p_vel">2.5</param>
                    <param name="i_vel">0.1</param>
                    <param name="d_vel">0.0</param>
                    <param name="iMax_vel">1.0</param>
                    <param name="iMin_vel">-1.0</param>
                    <param name="cmdMax_vel">1000.0</param>
                    <param name="cmdMin_vel">-1000.0</param>
                    <param name="cmdOffset_vel">0.0</param>
                </xacro:if>
                <xacro:unless value="${sim_ignition}">
                    <param name="initial_position">0.0</param>
                    <state_interface name="position"/>
                </xacro:unless>
                <command_interface name="position" />
                <state_interface name="velocity"/>
            </joint>

            <!-- Only add this with fake hardware mode -->
            <xacro:unless value="${sim_ignition}">
                <gpio name="reactivate_gripper">
                    <command_interface name="reactivate_gripper_cmd" />
                    <command_interface name="reactivate_gripper_response" />
                </gpio>
            </xacro:unless>

        </ros2_control>
    </xacro:macro>

</robot>
