<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">

    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="fake_sensor_commands" default="false" />
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="sim_ignition" default="false" />
    <xacro:arg name="force_abs_path" default="false" />


    <!-- Import macros -->
    <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />
    <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_gripper.ros2_control.xacro" />

    <link name="world" />
    <joint name="world_to_base" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="world"/>
        <child link="$(arg prefix)robotiq_arg2f_base_link"/>
    </joint>

    <xacro:robotiq_arg2f_85 prefix="$(arg prefix)" force_abs_paths="$(arg force_abs_paths)"/>

    <xacro:robotiq_sim_gripper_ros2_control name="RobotiqGripperSystem"
                                            prefix="$(arg prefix)"
                                            sim_ignition="$(arg sim_ignition)"
                                            use_fake_hardware="$(arg use_fake_hardware)"
                                            fake_sensor_commands="$(arg fake_sensor_commands)" />


    <xacro:if value="$(arg sim_ignition)">
        <gazebo>
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find robotiq_bringup)/config/robotiq_2f_85_controllers.yaml</parameters>
            </plugin>

            <plugin filename="mimic-joint-system" name="ign_ros2_control::MimicJointSystem">
                <joint_name>right_outer_knuckle_joint</joint_name>
                <mimic_joint_name>finger_joint</mimic_joint_name>
                <multiplier>1.0</multiplier>
                <offset>0.0</offset>
                <joint_index>0</joint_index>
                <mimic_joint_index>0</mimic_joint_index>
                <p_gain>100.0</p_gain>
                <i_gain>0.1</i_gain>
                <d_gain>0.0</d_gain>
                <i_max>5.0</i_max>
                <i_min>-5.0</i_min>
                <cmd_max>500.0</cmd_max>
                <cmd_min>-500.0</cmd_min>
                <cmd_offset>0.0</cmd_offset>
                <dead_zone>0.001</dead_zone>
                <use_velocity_commands>false</use_velocity_commands>
            </plugin>

            <plugin filename="mimic-joint-system" name="ign_ros2_control::MimicJointSystem">
                <joint_name>left_inner_knuckle_joint</joint_name>
                <mimic_joint_name>finger_joint</mimic_joint_name>
                <multiplier>1.0</multiplier>
                <offset>0.0</offset>
                <joint_index>0</joint_index>
                <mimic_joint_index>0</mimic_joint_index>
                <p_gain>100.0</p_gain>
                <i_gain>0.1</i_gain>
                <d_gain>0.0</d_gain>
                <i_max>5.0</i_max>
                <i_min>-5.0</i_min>
                <cmd_max>500.0</cmd_max>
                <cmd_min>-500.0</cmd_min>
                <cmd_offset>0.0</cmd_offset>
                <dead_zone>0.001</dead_zone>
                <use_velocity_commands>false</use_velocity_commands>
            </plugin>

            <plugin filename="mimic-joint-system" name="ign_ros2_control::MimicJointSystem">
                <joint_name>right_inner_knuckle_joint</joint_name>
                <mimic_joint_name>finger_joint</mimic_joint_name>
                <multiplier>1.0</multiplier>
                <offset>0.0</offset>
                <joint_index>0</joint_index>
                <mimic_joint_index>0</mimic_joint_index>
                <p_gain>100.0</p_gain>
                <i_gain>0.1</i_gain>
                <d_gain>0.0</d_gain>
                <i_max>5.0</i_max>
                <i_min>-5.0</i_min>
                <cmd_max>500.0</cmd_max>
                <cmd_min>-500.0</cmd_min>
                <cmd_offset>0.0</cmd_offset>
                <dead_zone>0.001</dead_zone>
                <use_velocity_commands>false</use_velocity_commands>
            </plugin>

            <plugin filename="mimic-joint-system" name="ign_ros2_control::MimicJointSystem">
                <joint_name>left_inner_finger_joint</joint_name>
                <mimic_joint_name>finger_joint</mimic_joint_name>
                <multiplier>-1.0</multiplier>
                <offset>0.0</offset>
                <joint_index>0</joint_index>
                <mimic_joint_index>0</mimic_joint_index>
                <p_gain>100.0</p_gain>
                <i_gain>0.1</i_gain>
                <d_gain>0.0</d_gain>
                <i_max>1.0</i_max>
                <i_min>-1.0</i_min>
                <cmd_max>500.0</cmd_max>
                <cmd_min>-500.0</cmd_min>
                <cmd_offset>0.0</cmd_offset>
                <dead_zone>0.001</dead_zone>
                <use_velocity_commands>false</use_velocity_commands>
            </plugin>

            <plugin filename="mimic-joint-system" name="ign_ros2_control::MimicJointSystem">
                <joint_name>right_inner_finger_joint</joint_name>
                <mimic_joint_name>finger_joint</mimic_joint_name>
                <multiplier>-1.0</multiplier>
                <offset>0.0</offset>
                <joint_index>0</joint_index>
                <mimic_joint_index>0</mimic_joint_index>
                <p_gain>100.0</p_gain>
                <i_gain>0.1</i_gain>
                <d_gain>0.0</d_gain>
                <i_max>5.0</i_max>
                <i_min>-5.0</i_min>
                <cmd_max>500.0</cmd_max>
                <cmd_min>-500.0</cmd_min>
                <cmd_offset>0.0</cmd_offset>
                <dead_zone>0.001</dead_zone>
                <use_velocity_commands>false</use_velocity_commands>
            </plugin>

            <!-- for test -->
<!--            <plugin-->
<!--                    filename="ignition-gazebo-joint-position-controller-system"-->
<!--                    name="ignition::gazebo::systems::JointPositionController">-->
<!--                <joint_name>finger_joint</joint_name>-->
<!--                <topic>rotor_cmd</topic>-->
<!--                <p_gain>50.0</p_gain>-->
<!--                <i_gain>0.1</i_gain>-->
<!--                <d_gain>0.0</d_gain>-->
<!--                <i_max>1</i_max>-->
<!--                <i_min>-1</i_min>-->
<!--                <cmd_max>1000</cmd_max>-->
<!--                <cmd_min>-1000</cmd_min>-->
<!--            </plugin>-->

        </gazebo>
    </xacro:if>

</robot>